
coursedetails.aux
coursedetails.log
coursedetails.out
demonstrator/design.aux
demonstrator/design.log
demonstrator/design.out
*.aux
*.log
*.nav
*.snm
*.toc
slides/literature/T3-Introduction-to-CP-Optimizer-for-Scheduling.pdf
